<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBNWeeklyMagazine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38FDB6CC1D20F04200642E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FDB6E51D20F04200642E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FDB6F01D20F04200642E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
